@import 'keyframes';
@import 'mixins';
@import 'variables';

@import 'components/app';
@import 'components/button';
@import 'components/check';
@import 'components/contact';
@import 'components/notice';
@import 'components/loading';
@import 'components/logo';
@import 'components/meta';
@import 'components/movie';
@import 'components/options';
@import 'components/orb';
@import 'components/filter';

body {
  background: $gray-light;
  color: $gray-dark;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

p,
h2,
h3 {
  margin: 0;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $gray-medium;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 0;
  }
}
