$black: rgb(0, 0, 0);
$blue: rgb(80, 140, 240);
$gold: rgb(255, 220, 120);
$gold-dark: rgb(240, 180, 70);
$gray-light: rgb(240, 240, 240);
$gray-border: rgb(220, 220, 220);
$gray: rgb(200, 200, 200);
$gray-medium: rgb(180, 180, 180);
$gray-dark: rgb(100, 100, 100);
$purple: rgb(140, 120, 240);
$purple-alpha: rgba(140, 120, 240, 0.9);
$white: rgb(255, 255, 255);

$animation: 0.2s;
$border-radius: 3px;

$margin-bottom: 120px;
