<div id="filter">

	<div id="options">

		<div class="component">

			<h3>Genres<span v-on:click="showOptions('genres')" v-bind:class="{'active': options.genres.state}">{{ options.genres.text }}</span></h3>

			<ol v-show="options.genres.state" transition="slide">
				<li v-for="(index, genre) in genres | orderBy 'genre'" v-on:click="filterGenre(index)">

					<div class="check">
						<span v-show="activeGenre(index)" class="mark" transition="appear"></span>
					</div>

					<p>{{ genre }}</p>

				</li>
			</ol>

		</div>

		<div class="component">

			<h3>Years<span v-on:click="showOptions('years')" v-bind:class="{'active': options.years.state}">{{ options.years.text }}</span></h3>

			<ol v-show="options.years.state" transition="slide">
				<li v-for="(index, year) in years" v-on:click="filterYear(index)">

					<div class="check">
						<span v-show="activeYear(index)" class="mark" transition="appear"></span>
					</div>

					<p>&#700;{{ year }}</p>

				</li>
			</ol>

		</div>

		<div class="component">

			<h3>Other<span v-on:click="showOptions('other')" v-bind:class="{'active': options.other.state}">{{ options.other.text }}</span></h3>

			<ol v-show="options.other.state" transition="slide">
				<li v-on:click="filter('lesserKnown')">

					<div class="check">
						<span v-show="active('lesserKnown')" class="mark" transition="appear"></span>
					</div>

					<p>Include lesser known movies</p>

				</li>

				<li v-on:click="filter('bad')">

					<div class="check">
						<span v-show="active('bad')" class="mark" transition="appear"></span>
					</div>

					<p>Include bad movies</p>

				</li>
			</ol>

		</div>

		<a class="button" v-on:click="recommend()">Recommend</a>
	
	</div>

	<?php require_once('notice.html'); ?>

</div>
