<div v-if="result" id="movie">
  <div class="poster">
    <div v-if="result.poster">
      <img v-bind:src="result.poster">
    </div>

    <h2>{{ result.title }} <span>&nbsp;&bull;&nbsp; {{ result.year }}</span></h2>
  </div>

  <div v-if="showMeta()" id="meta">
    <div v-if="result.rating" class="meta-item rating">Rating: <span>{{ result.rating }}</span></div>
    <a class="meta-item" v-bind:class="{'active': activeGenre(index)}" v-on:click="showOptions('genres', true), filterGenre(index)" v-for="(index, genre) in result.genres">{{ genre }}</a>
  </div>

  <p v-if="result.overview">{{ result.overview }}</p>
  <p v-else>No description available.</p>

  <a v-bind:href="result.trailer" class="button" target="_blank" tabindex="2">Search for trailers</a>
</div>
