<div v-if="result" id="movie">

	<div class="poster">

		<div v-if="result.poster">
			<img v-bind:src="result.poster">
		</div>

		<h2>{{ result.title }} <span>&nbsp;&bull;&nbsp; {{ result.year }}</span></h2>
		
	</div>

	<div id="genres">

		<div v-for="genre in currentGenres">{{ genre }}</div>

	</div>

	<p v-if="result.overview">{{ result.overview }}</p>
	<p v-else>No description available.</p>

	<a v-if="result.trailer" v-bind:href="result.trailer" class="button" target="_blank">Search for trailers</a>

</div>
