#app {
  display: none;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 22.5%;
  -webkit-transition: top $animation ease-out, width $animation ease-out;
  transition: top $animation ease-out, width $animation ease-out;
  width: $filter-width;

  &.ready {
    display: block;
  }

  &.animate {
    top: 120px;
    width: 1000px;
  }
}
