#filters {
  animation: appear-enter $animation ease-out;
  margin-bottom: $margin-bottom;
  position: absolute;
  right: 0;
  width: $filter-width;

  .button {
    @include box-shadow();
    float: left;
    margin-top: 40px;
    width: 100%;
  }
}
