#notice {
  @include block();
  background: $white;
  bottom: 0;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  width: 100%;

  @media(min-height: 611px) {
    float: left;
    position: static;
  }

  a {
    display: inline-block;
    padding: 10px;
  }
}
