.slider {
  $height: 6px;

  background: $gray-slider;
  border-radius: 5px;
  height: $height;
  margin: 25px 0 10px;
  position: relative;
  width: 100%;

  .handle {
    $dimension: 16px;

    background: $blue;
    border-radius: 100%;
    cursor: ew-resize;
    height: $dimension;
    margin-left: -($dimension / 2);
    position: absolute;
    top: -(($dimension - $height) / 2);
    width: $dimension;
  }

  .range {
    background: $blue;
    height: $height;
    position: absolute;
  }
}
