.slider {
  $handle: 16px;
  $height: 6px;

  background: $gray-slider;
  border-radius: 5px;
  height: $height;
  margin: 30px 0 20px ($handle / 2);
  position: relative;
  width: calc(100% - #{$handle});

  .handle {
    background: $blue;
    border-radius: 100%;
    cursor: ew-resize;
    height: $handle;
    margin-left: -($handle / 2);
    position: absolute;
    top: -(($handle - $height) / 2);
    width: $handle;
    z-index: 1;

    &:first-of-type {
      z-index: 2;
    }

    &.active {
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
  }

  .range {
    background: $blue;
    height: $height;
    position: absolute;
  }

  &-values {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
    text-align: center;

    span {
      display: inline-block;

      &:first-child {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
