.slider {
  $handle: 16px;
  $height: 6px;

  background: $gray-slider;
  border-radius: 5px;
  height: $height;
  margin: 25px 0 10px ($handle / 2);
  position: relative;
  width: calc(100% - #{$handle});

  .handle {
    background: $blue;
    border-radius: 100%;
    cursor: ew-resize;
    height: $handle;
    margin-left: -($handle / 2);
    position: absolute;
    top: -(($handle - $height) / 2);
    width: $handle;
  }

  .range {
    background: $blue;
    height: $height;
    position: absolute;
  }
}
