#app {
  display: none;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 22.5%;
  -webkit-transition: top $animation ease-out, width $animation ease-out;
  transition: top $animation ease-out, width $animation ease-out;
  width: 380px;
  z-index: 1;

  &.ready {
    display: block;
  }

  &.result {
    top: 150px;
    width: 1040px;
  }
}
