.check {
  $border: 2px;
  $dimension: 20px;

  border: $border solid $gray;
  border-radius: $border-radius;
  float: left;
  height: $dimension;
  margin-right: 10px;
  position: relative;
  -webkit-transition: border-color $animation ease-out;
  transition: border-color $animation ease-out;
  width: $dimension;

  .mark {
    display: block;
    height: $dimension - ($border * 2);
    width: $dimension - ($border * 2);

    &:before {
      background: $blue;
      content: '';
      height: 3px;
      left: 4px;
      position: absolute;
      top: 7px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 11px;
    }

    &:after {
      background: $blue;
      content: '';
      height: 3px;
      left: 2px;
      position: absolute;
      top: 8.2px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 6px;
    }
  }

  .appear-enter {
    -webkit-animation: appear-enter ($animation / 2) ease-out;
    animation: appear-enter ($animation / 2) ease-out;
  }

  .appear-leave {
    -webkit-animation: appear-leave ($animation / 2) ease-out;
    animation: appear-leave ($animation / 2) ease-out;
  }
}
