.check {
  border: 2px solid $gray;
  border-radius: $border-radius;
  float: left;
  height: 20px;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.2s ease-out;
  width: 20px;

  .mark {
    &:before {
      background: $blue;
      content: '';
      height: 3px;
      left: 4px;
      position: absolute;
      top: 7px;
      transform: rotate(-45deg);
      width: 11px;
    }

    &:after {
      background: $blue;
      content: '';
      height: 3px;
      left: 2px;
      position: absolute;
      top: 8.2px;
      transform: rotate(45deg);
      width: 6px;
    }
  }

  .appear-enter {
    animation: appear-enter 0.1s ease-out forwards;
  }

  .appear-leave {
    animation: appear-leave 0.1s ease-out forwards;
  }
}
