#filter {
  animation: appear-enter 0.2s ease-out forwards;
  margin-bottom: 120px;
  position: absolute;
  right: 0;
  width: 320px;

  #options {
    @include block();
    width: 100%;

    .component {
      float: left;
      border-bottom: 1px solid $gray-border;
      margin-bottom: 20px;
      padding-bottom: 20px;
      width: 100%;

      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        li {
          width: 100%;
        }
      }
    }

    ol {
      float: left;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 10px;
    }

    .slide-enter {
      animation: slide-enter 0.2s ease-out forwards;
    }

    .slide-leave {
      animation: slide-leave 0.2s ease-out forwards;
    }

    li {
      cursor: default;
      float: left;
      margin-top: 15px;
      width: 50%;

      &:hover .check {
        border: 2px solid $blue;
      }

      &:hover p {
        color: $blue;
      }

      &:active .check,
      &:focus .check {
        background: $gray-light;
      }
    }

    h3 {
      font-size: 18px;
      width: 100%;

      span {
        cursor: pointer;
        float: right;
        font-size: 14px;
        font-weight: 400;
        margin-top: 4px;
        text-decoration: underline;
        transition: color 0.2s ease-out;

        &:before {
          content: '+';
          float: left;
          margin-right: 5px;
          transition: transform 0.2s ease-out;
        }

        &:hover {
          color: $blue;
        }

        &.active:before {
          transform: rotate(45deg);
        }
      }
    }

    p {
      transition: color 0.2s ease-out;
    }

    .check {
      border: 2px solid $gray;
      border-radius: $border-radius;
      float: left;
      height: 20px;
      margin-right: 10px;
      position: relative;
      transition: border-color 0.2s ease-out;
      width: 20px;

      .mark {
        &:before {
          background: $blue;
          content: '';
          height: 3px;
          left: 4px;
          position: absolute;
          top: 7px;
          transform: rotate(-45deg);
          width: 11px;
        }

        &:after {
          background: $blue;
          content: '';
          height: 3px;
          left: 2px;
          position: absolute;
          top: 8.2px;
          transform: rotate(45deg);
          width: 6px;
        }
      }

      .appear-enter {
        animation: appear-enter 0.1s ease-out forwards;
      }

      .appear-leave {
        animation: appear-leave 0.1s ease-out forwards;
      }
    }
  }

  .button {
    @include box-shadow();
    float: left;
    margin-top: 40px;
    width: 100%;
  }
}