#filter {
  animation: appear-enter $animation ease-out;
  margin-bottom: 150px;
  position: absolute;
  right: 0;
  width: 380px;

  .button {
    @include box-shadow();
    float: left;
    margin-top: 40px;
    width: 100%;
  }
}