#filter {
	position: absolute;
	right: 0;
	width: 320px;

	#options {
		@include block();
		width: 100%;

		ol {
			font-size: 16px;
			line-height: 1.2;
		}

		li {
			cursor: default;
			float: left;
			margin-top: 15px;
			width: 50%;

			&:hover .check {
				border: 2px solid $blue;
			}

			&:hover p {
				color: $blue;
			}
		}

		p {
			transition: color 0.2s ease-out;
		}

		.check {
			border: 2px solid $gray;
			border-radius: $border-radius;
			float: left;
			height: 20px;
			margin-right: 10px;
			transition: border-color 0.2s ease-out;
			width: 20px;

			&:before {
				background: $blue;
			}
		}
	}

	#recommend {
		@include box-shadow();
		background: $blue;
		border-radius: $border-radius;
		color: $white;
		cursor: pointer;
		float: left;
		line-height: 60px;
		margin-top: 40px;
		font-weight: 700;
		text-align: center;
		-webkit-transition: background-color 0.2s ease-out;
		transition: background-color 0.2s ease-out;
		width: 100%;

		&:active,
		&:focus,
		&:hover {
			background: #8C78F0;
		}
	}
}