#loading {
  @include box-shadow();
  -webkit-animation: appear-delayed ($animation * 2) ease-out;
  animation: appear-delayed ($animation * 2) ease-out;
  background: $white;
  border-radius: 100%;
  display: none;
  height: 60px;
  left: 260px;
  position: absolute;
  top: 150px;
  width: 60px;

  #circle {
    -webkit-animation: rotate ($animation * 4) infinite linear;
    animation: rotate ($animation * 4) infinite linear;
    border-bottom: 3px solid $gold;
    border-left: 3px solid transparent;
    border-radius: 100%;
    border-right: 3px solid transparent;
    border-top: 3px solid $gold;
    height: 30px;
    margin: 15px 0 0 15px;
    width: 30px;
  }
}

.animate #loading {
  display: block;
}
