#options {
  @include block();
  width: 100%;

  .component {
    float: left;
    border-bottom: 1px solid $gray-border;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;

    &:first-of-type {
      li {
        width: 45%;

        &:nth-of-type(2n+1) {
          width: 55%;
        }
      }
    }

    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  ol {
    float: left;
    font-size: 16px;
    line-height: 1.2;
    margin: 10px 0;
    width: 100%;
  }

  .slide-enter {
    animation: slide-enter $animation ease-out;
  }

  .slide-leave {
    animation: slide-leave $animation ease-out;
  }

  li {
    cursor: default;
    float: left;
    margin-top: 15px;
    width: 100%;

    &:hover .check {
      border: 2px solid $blue;
    }

    &:hover p {
      color: $blue;
    }

    &:active .check,
    &:focus .check {
      background: $gray-light;
    }
  }

  h3 {
    font-size: 18px;
    width: 100%;

    span {
      cursor: pointer;
      float: right;
      font-size: 14px;
      font-weight: 400;
      margin-top: 4px;
      text-decoration: underline;
      -webkit-transition: color $animation ease-out;
      transition: color $animation ease-out;

      &:before {
        content: '+';
        float: left;
        margin-right: 5px;
        -webkit-transition: transform $animation ease-out;
        transition: transform $animation ease-out;
      }

      &:hover {
        color: $blue;
      }

      &.active:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  p {
    -webkit-transition: color $animation ease-out;
    transition: color $animation ease-out;
  }
}
