@tailwind base;
@tailwind utilities;

@keyframes loading {
  100% { transform: rotate(360deg) }
}

@media(max-width: 767px) {
  .background {
    background-image: none !important;
  }
}

.loading {
  animation: loading 0.4s linear infinite;
}

.loading-slow {
  animation: loading 0.6s linear infinite;
}
