@-webkit-keyframes appear-delayed {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  50% {
    -webkit-transform: scale(0, 0); 
    transform: scale(0, 0); 
  }
  
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes appear-delayed {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  50% {
    -webkit-transform: scale(0, 0); 
    transform: scale(0, 0); 
  }
  
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes slide-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-leave {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@keyframes slide-leave {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@-webkit-keyframes appear-enter {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes appear-enter {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes appear-leave {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  100% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}

@keyframes appear-leave {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  100% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
