@keyframes appear-delayed {
  0% {
    transform: scale(0, 0);
  }

  50% {
    transform: scale(0, 0); 
  }
}

@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
}

@keyframes slide-leave {
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}

@keyframes appear-enter {
  0% {
    transform: scale(0, 0);
  }
}

@keyframes appear-leave {
  100% {
    transform: scale(0, 0);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
